body {
  background: #f2f3f8;
}
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navbar-brand, .nav-link, a {
  color: #83848a!important;
}

.nav-link {
  font-weight: lighter!important;
}

.nav-link.active {
  font-weight: bold!important;
}

.container {
  max-width: 980px;
  text-align: center;
  margin-top: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-bottom: 100px;
  line-height: 60px;
}

.navbar {
  background: #ffffff;
  margin-top: -100px;
}

.btn-purple {
  border-color: #664ef7;
  background: #664ef7;
  color: white;
}

.btn-purple:hover {
  background: none;
  color: #664ef7;
}

.btn-purple-outline {
  border-color: #664ef7;
  background: none;
  color: #664ef7;
}

.btn-purple-outline:hover {
  background: #664ef7;
  color: white;
}