<div data-page="about" class="container">
    <section class="page-header">
        <h1>About</h1>
        <h4 class="text-muted">Unique and Challenging workouts.</h4>
    </section>
    <hr>
    <section>
        <p class="text-left">
            Workout Generator is an easy to use, open source web application that requires no database to run. Workout Generator is designed
            for generating workout structures and programs that are unique and challenging. It utilises a variety of training
            methods and exercises to generate a wide range of workouts. Every workout is unique, different and will challenge
            you. You can tailor the generated workout to your conditions and apply various filtering options to refine the
            results.
        </p>
        <p class="text-left">
            You can follow the development progress on the official
            <a href="https://github.com/arsenal942/workout-generator" target="_blank">GitHub Repository</a>.
        </p>
    </section>
</div>