<div data-page="home" class="container">
    <div class="alert alert-success alert-dismissible fade show" data-bind="visible: successMessage" role="alert">
        <strong data-bind="text: successMessage()"></strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <section style="margin-bottom: 20px;" id="main" class="card card-outline-secondary" data-bind="visible: currentWorkout().length">
        <div class="card-header">
            <span style="margin-left: 80px; font-size: 1.5rem;" data-bind="text: 'Category: ' + workoutCategory()"></span>
            <span style="float: right;">
                <div class="form-check">
                    <input class="form-check-input" data-bind="checked: filtersVisible" type="checkbox">
                    <label class="form-check-label">
                        Show Filters?
                    </label>
                </div>
            </span>
        </div>
        <div class="card-body">
            <!-- ko foreach: currentWorkout() -->
            <p class='lead' data-bind="text: name + ' - ' + sets + ' * ' + reps"></p>
            <!-- /ko -->
        </div>
    </section>

    <section data-bind="visible: filtersVisible()" id="filters">
        <div style="margin-bottom: 30px;" class="form-row">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" data-bind="checked: includeCompoundExercises" type="checkbox">
                    <label class="form-check-label">
                        Compounds?
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" data-bind="checked: includeSupersets" type="checkbox">
                    <label class="form-check-label">
                        Supersets?
                    </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label>Workout Category</label>
                    <select data-bind="value: workoutCategory, options: workoutCategories" class="form-control">
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Workout Intensity</label>
                    <select data-bind="value: workoutIntensity, options: workoutIntensities" class="form-control">
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Amount of Exercises</label>
                    <input data-bind="value: amountOfExercises" type="number" class="form-control" min="1" />
                </div>
            </div>
        </div>
    </section>

    <section class="buttons">
        <button data-bind="click: generateWorkout" id="generateWorkout" class="btn btn-purple">Generate</button>
        <!-- ko if: currentWorkout().length -->
        <button data-bind="click: saveWorkout" class="btn btn-purple-outline">Save Workout</button>
        <!-- /ko -->
    </section>
</div>