<div data-page="about" class="container">
    <div class="page-header">
        <h1>About</h1>
        <h4 class="text-muted">Challenging and Unique workouts.</h4>
    </div>
    <p class="text-left">
        Workout Generator is a web application that is designed for generating workout structures and programs. It utilises a variety
        of training methods and includes a variety of exercises to help generate a wide range of workouts. Every workout
        is unique, different and will challenge you. You can tailor the generated workout to your conditions and apply various
        filtering options to refine the results.
    </p>
    <p class="text-left">
        Workout Generator is easy to use, opensource, and requires no database. You can follow the development progress on the official
        <a href="http://.com">GitHub</a>.
    </p>
</div>