<div data-page="home">
    <section id="main" data-bind="visible: currentWorkout().length">
        <h3 data-bind="text: 'Category: ' + workoutCategory()"></h3>
        <!-- ko foreach: currentWorkout() -->
        <p class='lead' data-bind="text: name + ' - ' + sets + ' * ' + reps"></p>
        <!-- /ko -->
        <hr/>
    </section>

    <section data-bind="visible: filtersVisible()" id="filters">
        <div class="form-group">
            <label>Workout Category</label>
            <select data-bind="value: workoutCategory" class="form-control">
                <option data-bind="value: ''">All</option>
                <option data-bind="value: 'Chest'">Chest</option>
                <option data-bind="value: 'Back'">Back</option>
                <option data-bind="value: 'Legs'">Legs</option>
                <option data-bind="value: 'Shoulders'">Shoulders</option>
                <option data-bind="value: 'Arms'">Arms</option>
                <option data-bind="value: 'Biceps'">Biceps</option>
                <option data-bind="value: 'Triceps'">Triceps</option>
                <option data-bind="value: 'Core'">Core</option>
                <option data-bind="value: 'Cardio'">Cardio</option>
                <option data-bind="value: 'WOD'">WOD</option>
            </select>
        </div>
        <div class="form-group">
            <label>Workout Intensity</label>
            <select data-bind="value: workoutIntensity" class="form-control">
                <option data-bind="value: ''">Any</option>
                <option data-bind="value: 'Volume'">Volume</option>
                <option data-bind="value: 'Strength'">Strength</option>
            </select>
        </div>
        <div class="form-group">
            <label>Amount of Exercises</label>
            <input data-bind="value: amountOfExercises" type="number" class="form-control" min="1" />
        </div>
    </section>

    <section>
        <button data-bind="click: generateWorkout" id="generateWorkout" class="btn btn-purple">Generate</button>
        <!-- ko if: currentWorkout().length -->
        <button class="btn btn-purple-outline" data-bind="text: filtersVisible() ? 'Hide Filters' : 'Show Filters', click: toggleFilterVisibility"></button>
        <button data-bind="click: saveWorkout" class="btn btn-purple-outline">Save Workout</button>
        <!-- /ko -->
    </section>
</div>