<div data-page="home">
    <section id="main" data-bind="visible: currentWorkout().length">
        <h3 data-bind="text: 'Category: ' + workoutCategory()"></h3>
        <!-- ko foreach: currentWorkout() -->
        <p class='lead' data-bind="text: name + ' - ' + sets + ' * ' + reps"></p>
        <!-- /ko -->
        <hr/>
    </section>

    <section data-bind="visible: filtersVisible()" id="filters">
        <div class="form-row">
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" data-bind="checked: includeCompoundExercises" type="checkbox">
                    <label class="form-check-label">
                        Compounds?
                    </label>
                </div>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" data-bind="checked: includeSupersets" type="checkbox">
                    <label class="form-check-label">
                        Supersets?
                    </label>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label>Workout Category</label>
                    <select data-bind="value: workoutCategory, options: workoutCategories" class="form-control">
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Workout Intensity</label>
                    <select data-bind="value: workoutIntensity, options: workoutIntensities" class="form-control">
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Amount of Exercises</label>
                    <input data-bind="value: amountOfExercises" type="number" class="form-control" min="1" />
                </div>
            </div>
        </div>
    </section>

    <section>
        <button data-bind="click: generateWorkout" id="generateWorkout" class="btn btn-purple">Generate</button>
        <!-- ko if: currentWorkout().length -->
        <button class="btn btn-purple-outline" data-bind="text: filtersVisible() ? 'Hide Filters' : 'Show Filters', click: toggleFilterVisibility"></button>
        <button data-bind="click: saveWorkout" class="btn btn-purple-outline">Save Workout</button>
        <!-- /ko -->
    </section>
</div>