<div id="saved-workouts">
    <h1>Saved</h1>
    <div class="row">
        <!-- ko foreach: savedWorkouts -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" data-bind="text: workoutName"></h5>
                    <p class="card-text" data-bind="text: description">
                        <!-- <button class="btn btn-primary" data-bind="click: function(){$root.deleteWorkout(workoutName);}">Delete</button> -->
                    </p>
                </div>
                <ul data-bind="foreach: exercises" class="list-group list-group-flush">
                    <li class="list-group-item" data-bind="text: name + ' - ' + sets + ' * ' + reps"></li>
                </ul>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>